@model WebUI.Models.TicketsClosedTicketsViewModel

@{
    ViewData["Title"] = "Kapalı Kayıtlar";
}


@foreach (var item in Model.ClosedTickets)
{
    <p>@item.Id</p>
    <br />
    <p>@item.Subject</p>
    <br />
    <p>@item.Body</p>
    <br />
}